<a href="{{card-lnd-hvr.link}}" class="card-lnd-hvr">

    <div class="card-lnd-hvr__img">
        <img src="{{card-lnd-hvr.img}}" alt="">
    </div>

    <div class="card-lnd-hvr__content">
        <h3 class="card-lnd-hvr__content__heading">{{card-lnd-hvr.heading}}</h3>
        <div class="card-lnd-hvr__content__text">
            {{card-lnd-hvr.text}}
        </div>
    </div>

    <div class="card-lnd-hvr__content__cta">
        <span class="button">
            {{card-lnd-hvr.link-label}} <span class="-vis-hidden">about {{card-lnd-hvr.heading}}</span>
        </span>
    </div>

</a>

