
<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
    {{ sprout.include('skin/partials/_meta-data')|raw }}

    <title>{{browser_title}}</title>

    <script type="text/javascript">var ROOT = 'SITE/';</script>

    {{ sprout.skin.common() }}
    {{ sprout.skin.css('normalize', 'flexboxgrid', 'global',) }}
    {{ sprout.skin.js('frakenmenu', 'modernizr', 'skin') }}

    {{ sprout.include('skin/partials/_google_analytics') }}
    <needs />
</head>
<body>
    <!--[if IE]><div class="old-browser"><p>This website uses modern construction techniques, which may not render correctly in your old browser. <br>We recommend updating your browser for the best online experience.</p> <p>Visit <a href="http://browsehappy.com/">browsehappy.com</a> to help you select an upgrade.</p></div><![endif]-->

    <a class="-vis-hidden" href="#content">Skip to Content</a>

    {{ sprout.include('skin/partials/_header') }}


    <div id="wrap">
        <div id="content" class="section section--content bg-white">
            <div class="mainbar">
                <ul>
                {% for item in promos %}
                <li><a href="">{{item.heading}}</a></li>
                {% endfor %}
                </ul>

                {{ sprout.hello() }}
            </div>
        </div>

    </div>

    {{ sprout.include('skin/partials/_footer') }}


</body>
</html>
