
<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
    {% include 'skin/layouts/01_core/_meta-data' %}

    <title>{{browser_title}}</title>

    <script type="text/javascript">var ROOT = 'SITE/';</script>

    {{ sprout.skin.common() }}
    {{ sprout.skin.css('normalize', 'flexboxgrid', 'global', 'frankenmenu') }}
    {{ sprout.skin.js('frankenmenu', 'skin') }}

    {% include 'skin/layouts/01_core/_google_analytics' %}
    <needs />
</head>
<body>
    <!--[if IE]><div class="old-browser"><p>This website uses modern construction techniques, which may not render correctly in your old browser. <br>We recommend updating your browser for the best online experience.</p> <p>Visit <a href="http://browsehappy.com/">browsehappy.com</a> to help you select an upgrade.</p></div><![endif]-->

    <a class="-vis-hidden" href="#content">Skip to Content</a>

    {% include "skin/layouts/01_core/_header" %}


    <div id="wrap">
        <div id="content" class="section section--content bg-white">
            <div class="container">
                <ul>
                {% for item in promos %}
                <li><a href="">{{item.heading}}</a></li>
                {% endfor %}
                </ul>

                {{ sprout.hello() }}
            </div>
        </div>

    </div>

    {% include 'skin/layouts/01_core/_footer' %}

</body>
</html>
