
{% set nav = sprout.navigation.getRootNode() %}

{% set max_depth = sprout.config('sprout.pmm2_depth') ?? 999 %}
{% set nav_limit = sprout.config('sprout.nav_limit') ?? 2 %}

{% macro menuItem(page, depth, max_depth) %}
{% apply spaceless %}
    {% set has_children = depth < max_depth and page.children|length %}
    {% set current = sprout.navigation.getMatchedNode() %}
    {% set ancestors = current ? current.findAncestors() : [] %}
    {% set is_current = current ? current.id == page.id : false %}

    <li class="menu-item menu-item-depth{{ depth }} {{ options({
        'menu-item-has-children': has_children,
        'menu-current-item': is_current,
        'menu-current-item-anscestor': not is_current and page in anscestors,
    }) }}">
        <a href="{{ page.getFriendlyUrl() }}">{{ page.getNavigationName() }}</a>
        {% if has_children %}
            <ul class="sub-menu sub-menu-depth{{ depth }}">
                {% for child in page.children %}
                    {{ _self.menuItem(child, depth - 1) }}
                {% endfor %}
            </ul>
        {% endif %}
    </li>
{% endapply %}
{% endmacro %}

<ul id="frankenmenu-list" class="-clearfix">
    {% if sprout.config('sprout.nav_home') %}
        {% set nav_limit = nav_limit - 1 %}

        <li class="{{ options({
            'menu-item menu-item-depth1 menu-home-page': true,
            'menu-current-item': sprout.url.current in ['home_page', null],
        }) }}"><a href="{{ sprout.url.base() }}">Home</a></li>
    {% endif %}

    {% for page in nav.children %}
        {% if nav_limit > 0 %}
            {% set nav_limit = nav_limit - 1 %}
            {{ _self.menuItem(page, 1, max_depth) }}
        {% endif %}
    {% endfor %}
</ul>
